name: Publish to crates.io

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Publish `coolprop-sys-linux-x86-64`
        run: cargo publish --package coolprop-sys-linux-x86-64 --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
        continue-on-error: true
      - name: Publish `coolprop-sys-macos-aarch64`
        run: cargo publish --package coolprop-sys-macos-aarch64 --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
        continue-on-error: true
      - name: Publish `coolprop-sys-macos-x86-64`
        run: cargo publish --package coolprop-sys-macos-x86-64 --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
        continue-on-error: true
      - name: Publish `coolprop-sys-windows-aarch64`
        run: cargo publish --package coolprop-sys-windows-aarch64 --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
        continue-on-error: true
      - name: Publish `coolprop-sys-windows-x86-64`
        run: cargo publish --package coolprop-sys-windows-x86-64 --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
        continue-on-error: true
      - name: Publish `coolprop-sys`
        run: cargo publish --package coolprop-sys --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
        continue-on-error: true
      - name: Publish `rfluids`
        run: cargo publish --package rfluids --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
